body{
  margin:0;
  font-family:Arial;
  background:#0b1220;
  color:white;
}

header{
  padding:10px;
  background:#111827;
  display:flex;
  gap:10px;
  align-items:center;
}

input,select{
  padding:8px;
  border:none;
  border-radius:6px;
}

.container{
  display:flex;
  height:100vh;
}

aside{
  width:250px;
  background:#0f172a;
  overflow:auto;
}

aside div{
  padding:10px;
  border-bottom:1px solid #222;
  cursor:pointer;
}

aside div:hover{
  background:#1f2937;
}

main{
  flex:1;
  padding:20px;
}
